opencv-python
numpy
Pillow
jsonlines

#Optional - progress bars and CLI helpers
tqdm
typer[all]

#For evaluation
nltk
scikit-learn

#For VLM inference (optional if running models locally)
torch
transformers

#For interactive annotation or GUI later
label-studio  # optional GUI annotation tool

#For Aria Glasses
projectaria-tools